h1 {
  color: green;
  font-style: italic;
}

.note {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.error {
  border: red 2px dashed;
  background: lightgrey;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}